<% provide(:title, "Help") %>
<h1>Help</h1>
 <p>
  This is the helpsection for Twitch. For help on the 
  <a href="www.railstutorial.org">Ruby on Rails Tutorial</a>, refer
  <a href="www.railstutorial.org/help"><em></em>this help guide</a>. 
 </p>

