<footer class= "footer">
 <small>
  Twitch by <a href="http://www.shalininair.com">Shalini Nair</a>
 </small>
 <nav>
  <ul>
   <li><%= link_to 'About', '#' %></li>
   <li><%= link_to 'Contact', '#' %></li>
   <li><%= link_to 'News', 'http://www.rubyonrails.org' %></li>
  </ul>
 </nav>
</footer>